.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin-bottom: 10px;
}
.chart-container {
  width: 200px; /* Adjust chart width */
  height: 200px; /* Adjust chart height */
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 8px;
  text-align: left;
}
